{% extends "base.html" %}
{% block title %}About Us - MyBlog{% endblock %}
{% block content %}
{% load static %}

<section class="container my-10">
    <div class="row mt-4">
        <div class="col-lg-6">
            <h2 class="mb-4">About Us</h2>
            <p>Welcome to MyBlog, your go-to source for insightful and engaging content on a variety of topics. We are passionate about sharing knowledge and ideas that inspire and inform. Our dedicated team of writers and experts work tirelessly to bring you valuable articles and stories.</p>
            <p>At MyBlog, we believe that information is power, and we strive to empower our readers with articles that cover technology, lifestyle, health, travel, and much more. Whether you're looking for practical tips, thought-provoking insights, or simply a good read, you'll find it here.</p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'images/cover.jpg' %}" alt="About Us Image" class="img-fluid rounded-circle">
        </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock content %}
