{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Posts by {{ author.username }}</h1>

    {% for post in posts %}
    <div class="card mb-4">
        <div class="card-img-top">
            <img src="{{ post.post_pic.url }}" alt="{{ post.name }}" style="max-height: 300px; width: 100%; object-fit: cover;">
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ post.name }}</h2>
            <p class="card-text">{{ post.description|truncatewords:55 }}</p>
            <a href="{% url 'post-detail' pk=post.pk %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            {{ post.date_posted|date:"F d, Y" }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
