{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% if title %}
        <title> Blog - {{ title }}</title>
    {% else %}
        <title> Blog</title>
    {% endif %}

</head>
<body style="padding-top: 20px;"> 
        <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'images/logo1.png' %}" alt="Logo" class="mr-2">
                    
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link hide-button-text" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hide-button-text" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hide-button-text" href="{% url 'contact_us' %}">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle hide-button-text" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in categories %}
                                    <a class="dropdown-item {% if category.post_count == 0 %}disabled{% endif %}"
                                        href="{% url 'category' category.slug %}">
                                        {{ category.name }}
                                        {% if category.post_count == 0 %}
                                            <span class="badge badge-danger ml-2">No Posts</span>
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>

                    <form id="search-form" method="GET" action="{% url 'search-posts' %}" class="form-inline my-2 my-lg-0">
                        {% csrf_token %}
                        <input type="text" id="search-input" name="query" class="form-control mr-sm-2" placeholder="Search...">
                        <button class="btn btn-outline-light my-2 my-sm-0 hide-button-text" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link hide-button-text" href="{% url 'post-create' %}">Create Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hide-button-text" href="{% url 'profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hide-button-text" href="{% url 'logout' %}">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hide-button-text" href="{% url 'indexx' %}">Poll</a>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link hide-button-text" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hide-button-text" href="{% url 'register' %}">Register</a>
                            </li>
                          
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchForm = document.getElementById('search-form');
            const searchInput = document.getElementById('search-input');

            searchForm.addEventListener('submit', function (e) {
                e.preventDefault(); 
                const query = searchInput.value.trim();
                if (query.length > 0) {
                    this.submit();
                }
            });

            searchInput.addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    searchForm.submit(); 
                }
            });
        });
    </script>
</body>
</html>
