.nav-link {
  background-color: #0c6a9d;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #07416a;
}

.navbar-dark {
  background-color: #0c6a9d;
}

.hide-button {
  display: none;
}
.hide-button-text {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hide-button-text:hover {
  background-color: #0e1f2b;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-input {
  flex: 1;
  margin-right: 10px;
}
body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Sono', sans-serif;
}

